<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
          integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk="
          crossorigin="anonymous" />

    <link href="../static/css/style.css" th:href="@{/css/styles.css}"
          rel="stylesheet" />
    <title>Chat</title>
</head>
<body>
<script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
<!-- Load babel to translate JSX to js. -->
<script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
<!--<script src="chatingjsx.jsx" th:src="@{/chatingjsx.jsx}" type="text/babel"></script>-->
<!--<div id="root"></div>-->

<div class="chat-contenedor">
    <div class="navbar-left">
        <h4>
            Chat:
        </h4>
        <h3 th:text="${room}" id="room-name" style="text-align: center;
    font-family: cursive;
    color: #ca7676;"></h3>
        <div hidden="true" id="usernick" th:text="${usernick}"></div>
        <h4>
            <i class=""></i> Usuarios en sala
        </h4>
        <ul id="users">
        </ul>
    </div>

    <header class="chat-header">
        <h1>

        </h1>
        <a th:href="@{index}" class="btn">salir de chat</a>
    </header>
    <main class="main-chat main-chat-image">

        <div class="get-chat-messages">
        </div>
        </main>
    <div class="">
        <form id="chat-form">
            <input id="msg" type="text" placeholder="Enter Message" required
                   autocomplete="off" />
            <button  class="btn">
                 Send
            </button>
            <div class="btn-send" id="send">
                <svg viewBox="0 0 74.433 60.908" width="25" height="25" xmlns="http://www.w3.org/2000/svg">
                    <path fill="#fff" d="M 0 0 L 74.22 26.562 L 0.246 60.712 L 7.608 34.535 L 27.831 28.259 L 6.91 25.469 L 0 0 Z"></path>
                </svg>
            </div>
        </form>
    </div>
</div>
<script th:src="@{/chating.js}"></script>
<!--  <script src="js/main.js"></script> -->

<!--<script th:src="@{/chating.js}"></script>-->
<!--  <script src="js/main.js"></script> -->
</body>
</html>